<h1>Incluir pessoa em projeto</h1>

<div class="form">
  <%= form_for(@participacao_projeto) do |f| %>
    <% if @participacao_projeto.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@participacao_projeto.errors.count, "erro") %> impediram esta participação de ser salva:</h2>

        <ul>
          <% @participacao_projeto.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field select">
      <%= f.label "Projeto" %><br/>
      <%= select "participacao_projeto", "projeto_id", @projetos.collect {|c| [c.nome, c.id]} %>
    </div>
    <div class="field date">
      <%= f.label "Data de início" %><br />
      <%= f.date_select :dataInicio, :order => [:day, :month, :year], :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' }  %>
    </div>
    <div class="field date">
      <%= f.label "Data de término" %><br />
      <%= f.date_select :dataTermino, :order => [:day, :month, :year], :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' }  %>
    </div>
    <div class="field select">
      <%= f.label "Pessoa" %><br />
      <%= select "participacao_projeto", "vinculo_id", @vinculos.collect {|c| [c.pessoa.nome, c.id]} %>
    </div>
    <div class="field select">
      <%= f.label :cargo_id %><br />
      <%= select "participacao_projeto", "cargo_id", @cargos.collect {|c| [c.nome, c.id]} %>
    </div>
    <div class="actions redirect_buttons">
      <%= f.submit :value => "Incluir vínculo" %>
      <%= link_to 'Cancelar', :back %>
    </div>
  <% end %>
</div>

