<p id="notice"></p>

<div class="data_show">
  <h1><%= "Ficha de participação de #{@participacao_projeto.vinculo.pessoa.nome}" %></h1>

  <p>
    <b>Projeto:</b>
    <%= @participacao_projeto.projeto.nome %>
  </p>
  <p>
    <b>Data de início:</b>
    <%= @participacao_projeto.dataInicio.strftime("%d de %B de %Y") %>
  </p>
  <p>
    <b>Data de término:</b>
    <% if @participacao_projeto.dataTermino %>
      <%= @participacao_projeto.dataTermino.strftime("%d de %B de %Y") %>
    <% else %>
      <%= "#{@participacao_projeto.vinculo.pessoa.nome} ainda está trabalhando no projeto" %>
    <% end %>
  </p>
  <p>
    <b>Cargo:</b>
    <%= @participacao_projeto.cargo.nome %>
  </p>


</div>
<div class="data_show_child">
  <h3>Comentários:</h3>
  <% if current_pessoa %>
    <%= render :partial => "comentarios/new" %>
  <% end %>
  <div id="comment_notice"></div>
  <div id="comments">
    <%= render :partial => "comentarios/comment", :collection => @comentarios %>
  </div>
</div>