<h1>Listing cargos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Pre requisitos</th>
    <th>Salario piso</th>
    <th>Salario teto</th>
    <th>Tempo minimo</th>
    <th>Tempo maximo</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cargos.each do |cargo| %>
  <tr>
    <td><%= cargo.nome %></td>
    <td><%= cargo.pre_requisitos %></td>
    <td><%= cargo.salario_piso %></td>
    <td><%= cargo.salario_teto %></td>
    <td><%= cargo.tempo_minimo %></td>
    <td><%= cargo.tempo_maximo %></td>
    <td><%= cargo.descricao %></td>
    <td><%= link_to 'Show', cargo %></td>
    <td><%= link_to 'Edit', edit_cargo_path(cargo) %></td>
    <td><%= link_to 'Destroy', cargo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cargo', new_cargo_path %>
