<div class="form">
  <%= form_for(@comentario) do |f| %>
    <div class="field text">
      <%= f.label :texto %><br />
      <%= f.text_area :texto %>
    </div>
    <div class="field">
      <%= f.label :destinatario_id %><br />
      <%= f.text_field :destinatario_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>