<h1><%= "Vincular #{@nome_pessoa}" %></h1>

<div class="form">
  <%= form_for(@vinculo) do |f| %>
    <% if @vinculo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vinculo.errors.count, "error") %> prohibited this vinculo from being saved:</h2>

        <ul>
          <% @vinculo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if not @pessoa %>
      <div class="field select">
        <%= f.label "Pessoa a ser vinculada" %><br />
        <%= select "vinculo", "pessoa_id", @pessoas.collect {|c| [c.nome, c.id]}, :style => "width: 500px"  %>
      </div>
    <% else %>
      <%= f.hidden_field :pessoa_id %>
    <% end %>

    <div class="field date">
      <%= f.label "Data de entrada:" %><br />
      <%= f.date_select :dataEntrada, :order => [:day, :month, :year], :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' }, :use_month_numbers => true %>
    </div>
    <div class="field date">
      <%= f.label "Data de saída:" %><br/>
      <%= f.date_select :dataSaida, :order => [:day, :month, :year], :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' }, :use_month_numbers => true %>
    </div>
    <div class="field">
      <%= f.label "Salário" %><br />
      <%= f.text_field :salario %>
    </div>
    <div class="field">
      <%= f.label :banco %><br />
      <%= f.text_field :banco %>
    </div>
    <div class="field">
      <%= f.label "Agência" %><br />
      <%= f.text_field :agencia %>
    </div>
    <div class="field">
      <%= f.label :conta %><br />
      <%= f.text_field :conta %>
    </div>
    <div class="actions redirect_buttons">
      <%= f.submit :value => "Criar vínculo"%>
      <%= link_to "Cancelar", :back %>
    </div>
  <% end %>
</div>