<p id="notice"><%= notice %></p>


<div class="pessoas_dados">
  <ul>
    <li>
      <b>Pessoa:</b>
      <%= @vinculo.pessoa.nome %>
    </li>
    <li>
      <b>Dataentrada:</b>
      <%= @vinculo.dataEntrada %>
    </li>
    <li>
      <b>Datasaida:</b>
      <% unless @vinculo.dataSaida %>
        <%= "#{@vinculo.pessoa.nome} ainda está vinculado(a)" %>
      <% end %>
      <%= @vinculo.dataSaida %>
    </li>
    <li>
      <b>Salario:</b>
      <%= @vinculo.salario %>
    </li>
    <li>
      <b>Banco:</b>
      <%= @vinculo.banco %>
    </li>
    <li>
      <b>Agencia:</b>
      <%= @vinculo.agencia %>
    </li>
    <li>
      <b>Conta:</b>
      <%= @vinculo.conta %>
    </li>
  </ul>

</div>

<%= link_to 'Editar', edit_vinculo_path(@vinculo) %> |
<%= link_to 'Back', vinculos_path %>
