<p id="notice"><%= notice %></p>


<div class="data_show">
  <h1><%= "Vínculo ##{@vinculo.id} - #{@vinculo.pessoa.nome}" %></h1>
  <p>
    <b>Data de entrada:</b>
    <%= @vinculo.dataEntrada %>
  </p>
  <p>
    <b>Data de saída:</b>
    <% unless @vinculo.dataSaida %>
      <%= "#{@vinculo.pessoa.nome} ainda está vinculado(a)" %>
    <% end %>
    <%= @vinculo.dataSaida %>
  </p>
  <table class="data_show_compact" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <b>Salário:</b>
        <%= number_to_currency(@vinculo.salario, :delimiter => '') %>
      </td>
      <td>
        <b>Banco:</b>
        <%= @vinculo.banco %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Agência:</b>
        <%= @vinculo.agencia %>
      </td>
      <td>
        <b>Conta:</b>
        <%= @vinculo.conta %>
      </td>
    </tr>
  </table>
</div>

<div class="redirect_buttons">
  <%= link_to "Desvincular Pessoa", finalize_vinculo_path %>
  <%= link_to "Editar vínculo", edit_vinculo_path %>
</div>