<p id="notice"><%= notice %></p>

<p>
  <b>Pessoa:</b>
  <%= @vinculo.pessoa_id %>
</p>

<p>
  <b>Dataentrada:</b>
  <%= @vinculo.dataEntrada %>
</p>

<p>
  <b>Datasaida:</b>
  <%= @vinculo.dataSaida %>
</p>

<p>
  <b>Salario:</b>
  <%= @vinculo.salario %>
</p>

<p>
  <b>Banco:</b>
  <%= @vinculo.banco %>
</p>

<p>
  <b>Agencia:</b>
  <%= @vinculo.agencia %>
</p>

<p>
  <b>Conta:</b>
  <%= @vinculo.conta %>
</p>


<%= link_to 'Edit', edit_vinculo_path(@vinculo) %> |
<%= link_to 'Back', vinculos_path %>
