<h1>Projetos em andamento</h1>

<table class="data_list" cellpadding="0" cellspacing="0">
  <tr class="table_head">
    <td>Nome</td>
    <td>Descrição</td>
    <td>Data inicial</td>
  </tr>
  <% @projetos.each do |projeto| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= projeto.nome %></td>
      <td><%= link_to projeto.descricao, projeto %></td>
      <td><%= projeto.data_inicial.strftime "%d/%m/%Y" %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Projeto', new_projeto_path %>
