<h1>Projetos em andamento</h1>

<table class="data_list" cellpadding="0" cellspacing="0">
  <tr class="table_head">
    <td style="width: 80%;">Nome</td>
    <td style="width: 20%;">Data inicial</td>
  </tr>
  <% @projetos.each do |projeto| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to projeto.nome, projeto %></td>
      <td><%= projeto.data_inicial.strftime "%d/%m/%Y" %></td>
    </tr>
  <% end %>
    <% if @projetos.empty? %>
    <tr class="<%= cycle("even", "odd") %>">
      <td colspan="2" >
        <%= link_to "Não há nenhum projeto em andamento no momento. Clique aqui para cadastrar um novo projeto", new_projeto_path %>
      </td>
    </tr>
    <% end %>
</table>

<div class="redirect_buttons">
  <%= link_to "Voltar", :back %>
</div>