<h1>Novo projeto</h1>

<div class="form">
  <%= form_for(@projeto) do |f| %>
    <% if @projeto.errors.any? %>
      <center>
        <div id="error_explanation">
          <h2><%= "#{pluralize(@projeto.errors.count, "erro")} #{pluralize_word(@projeto.errors.count, "impediu")} esse projeto de ser criado:" %></h2>
          <ul>
            <% @projeto.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </center>
    <% end %>

    <div class="field">
      <%= f.label :nome %><br />
      <%= f.text_field :nome %>
    </div>
    <div class="field date">
      <%= f.label :data_inicial %><br />
      <%= f.date_select :data_inicial, :order => [:day, :month, :year], :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' }  %>
    </div>
    <div class="field">
      <%= f.label "Descrição" %><br />
      <%= f.text_field :descricao %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>