<h1>Adicionar competência</h1>

<div class="form">
  <%= form_for(@competencia) do |f| %>
    <% if @competencia.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@competencia.errors.count, "error") %> prohibited this competencia from being saved:</h2>

        <ul>
          <% @competencia.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :grau %><br />
      <%= f.text_field :grau %>
    </div>
    <div class="field">
      <%= f.hidden_field :pessoa_id %>
    </div>
    <div class="field">
      <%= f.label :conhecimento_id %><br />
      <%= select("competencia", "conhecimento_id", @conhecimentos.collect {|c| [c.nome, c.id]})  %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>