<h1>Listing pessoas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Celular</th>
    <th>Endereco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pessoas.each do |pessoa| %>
  <tr>
    <td><%= link_to pessoa.nome, pessoa %></td>
    <td><%= pessoa.cpf %></td>
    <td><%= pessoa.celular %></td>
    <td><%= pessoa.endereco %></td>
    <td><%= link_to 'Edit', edit_pessoa_path(pessoa), :id => "edit_pessoa_#{pessoa.id}" %></td>
    <td><%= link_to 'Destroy', pessoa, :confirm => 'Are you sure?', :method => :delete, :id => "destroy_pessoa_#{pessoa.id}" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pessoa', new_pessoa_path %>
