<h1>Pessoas cadastradas</h1>

<table class="data_list" cellpadding="0" cellspacing="0">
  <tr class="table_head">
    <td style="width: 42%;">Nome</td>
    <td style="width: 14%;">CPF</td>
    <td style="width: 14%;">Celular</td>
    <td style="width: 30%;">Endereço</td>
  </tr>

  <% @pessoas.each do |pessoa| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to pessoa.nome, pessoa %></td>
      <td><%= link_to pessoa.cpf, pessoa %></td>
      <td><%= pessoa.celular %></td>
      <td><%= pessoa.endereco %></td>
    </tr>
  <% end %>
    <% if @pessoas.empty? %>
    <tr>
      <td>
        <%=  link_to "Não há nenhuma pessoa cadastrada. Clique aqui para cadastrar a primeira", new_pessoa_path %>
      </td>
    </tr>
    <% end %>
</table>