<p id="notice"><%= notice %></p>

<h1><%= "Perfil de #{@pessoa.nome}" %></h1>

<div class="pessoas_dados">
  <ul>
    <li>
      <b>Nome:</b>
      <%= @pessoa.nome %><br/>
    </li>
    <li>
      <b>CPF:</b>
      <%= @pessoa.cpf %><br/>
    </li>
    <li>
      <b>Celular:</b>
      <%= @pessoa.celular %><br/>
    </li>
    <li>
      <b>Endereco:</b>
      <%= @pessoa.endereco %><br/>
    </li>
  </ul>



</div>
<div>
  <h3>Competências:</h3>
  <table>
    <tr>
      <th>Grau</th>
      <th>Conhecimento</th>
    </tr>

    <% @pessoa.competencias.each do |competencia| %>
      <tr>
        <td><%= competencia.grau %></td>
        <td><%= competencia.conhecimento.nome %></td>
        <td><%= link_to 'Remover', competencia, :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to 'Adicionar competência', new_competencia_path(:pessoa_id => @pessoa.id) %>
</div>




<%= link_to 'Editar', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Voltar', pessoas_path %>
