<p id="notice"></p>
<div class="data_show">
  <h1><%= "Perfil de #{@pessoa.nome}" %></h1>
  <p>
    <b>Nome:</b>
    <%= @pessoa.nome %><br/>
  </p>
  <p>
    <b>CPF:</b>
    <%= @pessoa.cpf %><br/>
  </p>
  <p>
    <b>Celular:</b>
    <%= @pessoa.celular %><br/>
  </p>
  <p>
    <b>Endereco:</b>
    <%= @pessoa.endereco %><br/>
  </p>
</div>
<div class="data_show_child">
  <h3>Competências:</h3>
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th><p>Grau de sabedoria</p></th>
      <th><p>Nome do conhecimento</p></th>
    </tr>

    <% @pessoa.competencias.each do |competencia| %>
      <tr class="<%= cycle("even", "odd") %>" >
        <td><%= niveis_de_conhecimento[competencia.grau][0] %></td>
        <td><%= competencia.conhecimento.nome %></td>
        <% if profile_belongs_to_current_pessoa(@pessoa.id) %>
          <td><%= link_to "Remover", competencia, :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
    <% if profile_belongs_to_current_pessoa(@pessoa.id) %>
      <tr class="new" >
        <td colspan="3">
          <%= link_to "Clique aqui para adicionar uma nova competência", new_competencia_path(:pessoa_id => @pessoa.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="redirect_buttons">
  <% if profile_belongs_to_current_pessoa(@pessoa.id) %>
    <%= link_to "Editar cadastro", edit_pessoa_path(@pessoa) %>
    <%= link_to "Excluir cadastro", @pessoa, :confirm => "Tem certeza?", :method => :delete %>
  <% end %>
  <% if current_user %>
    <%= link_to "Vincular essa pessoa", new_param_vinculo_path(@pessoa) %>
  <% end %>
  <%= link_to "Voltar", :back %>
</div>
