<h1>Listing conhecimentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Dominio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conhecimentos.each do |conhecimento| %>
  <tr>
    <td><%= conhecimento.nome %></td>
    <td><%= conhecimento.dominio %></td>
    <td><%= link_to 'Show', conhecimento %></td>
    <td><%= link_to 'Edit', edit_conhecimento_path(conhecimento) %></td>
    <td><%= link_to 'Destroy', conhecimento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conhecimento', new_conhecimento_path %>
