<script type = "text/javascript" >
  $(document).ready(function() {
    $("#pessoas_drop").hide();
    $("#pessoas_drop, #pessoas_item").mouseenter(function() {
      menuDropEnter("#pessoas_item", "#pessoas_drop");
    });
    $("#pessoas_item, #pessoas_drop").mouseleave(function() {
      menuDropLeave("#pessoas_item", "#pessoas_drop");
    });
  });


</script>

<div>
  <ul class="menu">
    <% if session[:current_user] %>
      <li>
        <%= link_to "Home", home_path %>
      </li>
      <li id="pessoas_item">
        <%= link_to "Pessoas", "#" %>
      </li>
      <li>
        <%= link_to "Projetos", projetos_path %>
      </li>
      <li>
        <%= link_to "Cargos", cargos_path %>
      </li>
      <li>
        <%= link_to "Logout", logout_path %>
      </li>
    <% end %>
    <% if not session[:current_user] %>
      <li>
        <%= link_to "Página Inicial", root_path %>
      </li>
      <li>
        <%= link_to "Login", login_path %>
      </li>
    <% end %>
  </ul>
</div>

<div id="pessoas_drop">
  <ul class="menu_drop">
    <li>
      <%= link_to "Listar pessoas", pessoas_path %>
    </li>
    <li>
      <%= link_to "Cadastrar pessoa", new_pessoa_path %>
    </li>
  </ul>

</div>