<script type = "text/javascript" >
  jQuery.noConflict();
  jQuery(document).ready(function() {
    menuHorizontal();
  });
</script>

<div>
  <ul class="menu">
    <% if session[:current_user] %>
      <li>
        <%= link_to "Home", home_path %>
      </li>
      <li id="pessoas_item">
        <%= link_to "Pessoas", "#" %>
      </li>
      <li id="projetos_item">
        <%= link_to "Projetos", "#" %>
      </li>
      <li id="outros_item">
        <%= link_to "Outros", "#" %>
      </li>
      <li>
        <%= link_to "Logout", logout_path %>
      </li>
    <% end %>
    <% if not session[:current_user] %>
      <li>
        <%= link_to "P치gina Inicial", root_path %>
      </li>
      <li>
        <%= link_to "Login", login_path %>
      </li>
    <% end %>
  </ul>
</div>

<div id="pessoas_drop" style="position: absolute;">
  <ul class="menu_drop">
    <li>
      <%= link_to "Listar pessoas", pessoas_path %>
    </li>
    <li>
      <%= link_to "Pessoas vinculadas", vinculos_path %>
    </li>
    <li>
      <%= link_to "Cadastrar pessoa", new_pessoa_path %>
    </li>
    <li>
      <%= link_to "Vincular pessoa", new_vinculo_path %>
    </li>
  </ul>
</div>

<div id="projetos_drop" style="position: absolute;">
  <ul class="menu_drop">
    <li>
      <%= link_to "Projetos em andamento", projetos_path %>
    </li>
    <li>
      <%= link_to "Incluir pessoa a projeto", new_participacao_projeto_path %>
    </li>
    <li>
      <%= link_to "Criar novo projeto", new_projeto_path %>
    </li>
  </ul>
</div>

<div id="outros_drop" style="position: absolute;">
  <ul class="menu_drop">
    <li>
      <%= link_to "Gerenciar cargos", cargos_path %>
    </li>
    <li>
      <%= link_to "Gerenciar coment치rios", comentarios_path %>
    </li>
    <% if user_is_admin? %>
      <li>
        <%= link_to "Cadastrar usu치rio", new_user_path %>
      </li>
      <li>
        <%= link_to "Exibir usu치rios", users_path %>
      </li>
    <% end %>
  </ul>
</div>