<!DOCTYPE html>
<html>
  <head>
    <title>Rh</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <center>
      <div class="template">
        <div id="header" class="header">
          <h1>Recursos Humanos NTI</h1>
        </div>
        <div id="main_menu">
          <%= render 'layouts/menu' %>
        </div>
        <div id="content" class="content">
          <div class="messages">
            <% if notice %>
              <p class="message notice"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="message alert"><%= alert %></p>
            <% end %>
          </div>
          <%= yield %>
        </div>
        <div class="footer">
          Recursos Humanos NTI <br/>
          Desenvolvido por Rodrigo Castro
        </div>
      </div>
    </center>
  </body>
</html>
